.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  color: var(--color-text);
}

.content {
  box-sizing: border-box;
  width: 90%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  position: relative;
  background-color: var(--color-content-background);
}

.content > * {
  margin: 0;
}

.content > .btn {
  margin-top: 0.5rem;
}
