html,
body,
#root {
  height: 100%;
}

:root {
  --font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

code {
  font-family: 'Courier New', Courier, monospace;
}
