.status-text {
  font-weight: bold;
  color: black;
}

.status-spinner {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.status-pending {
  color: var(--color-orange);
}

.status-running {
  color: var(--color-green);
}

.status-failed {
  color: var(--color-red);
}

.status-terminating {
  color: var(--color-blue);
}

.btn {
  padding: 0.5em 1em;
  font-size: large;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: white;
}

.btn-stop {
  background-color: var(--color-red);
}

.btn-start {
  background-color: var(--color-green);
}

.btn-auth {
  background-color: var(--color-blue);
}
