.status-text {
  font-weight: bold;
}

.status-spinner {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.status-pending {
  color: var(--color-orange);
}

.status-running {
  color: var(--color-green);
}

.status-unknown {
  color: var(--color-red);
}

.status-terminating {
  color: var(--color-blue);
}

.status-stopped {
  color: var(--color-text);
}

.btn {
  margin-top: 0.5rem;
  padding: 0.5em 1em;
  font-size: large;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-family: inherit;
}

.btn:hover {
  filter: brightness(95%);
}

.btn-stop {
  background-color: var(--color-red);
}

.btn-start {
  background-color: var(--color-green);
}

.btn-auth {
  background-color: var(--color-blue);
}
